.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 110px;
    height: 50px;
}

.love {
    color: #63E6BE;
    height: 80px;
}

.left-nav h1 {
    font-size: 1rem;
    color: rgb(85, 84, 84);
}

.left-nav,
.center-nav,
.right-nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.center-nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.center-nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(85, 84, 84);
    font-weight: bold;
}

.left-nav .but-one {
    background-color: inherit;
    border: 1px solid #63E6BE;
    color: #63E6BE;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.left-nav .but-one:hover {
    background-color: #e1f2ed;
    color: #63E6BE;
}

.left-nav .but-two {
    background-color: #63E6BE;
    border: none;
    color: white;
    padding: 8px 12px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}